#contenedorLibroCss * {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    height: 90vh;
}

#contenedorLibroCss p {
    margin-top: 10px;
    font-size: 13px;
    text-align: justify;
}

#contenedorLibroCss .container,
#contenedorLibroCss .book-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedorLibroCss .container {
    width: 100%;
    height: 100vh;
    background: #2d6f75;
}

#contenedorLibroCss .book-content {
    width: 65%;
    min-width: 250px;
    max-width: 400px;
    height: 450px;
    position: relative;
    perspective: 1000px;
    transition: 1s;
}

#contenedorLibroCss .book {
    position: absolute;
    width: 65%;
    height: 100%;
    transition: 1s;
    transform-style: preserve-3d;
    transform-origin: left;
}

#contenedorLibroCss .face-front,
#contenedorLibroCss .face-back {
    width: 100%;
    height: 100%;
    background: white;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

#contenedorLibroCss .face-front {
    box-shadow: inset 3px 0px 20px -7px black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#contenedorLibroCss .face-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(-1px) rotateY(180deg);
    box-shadow: inset -3px 1px 20px -7px black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#contenedorLibroCss #portada {
    background: url('../img/bookPortada.jpg');
}

#contenedorLibroCss #portada-back {
    background: url('../img/portadaBack.jpg');
}

#contenedorLibroCss #portada,
#contenedorLibroCss #portada-back {
    background-size: 100% 100%;
}

#contenedorLibroCss .trnsf {
    transform: translateX(30%);
}

#contenedorLibroCss .trnsf-reset {
    transform: translateX(0px);
}

@media screen and (max-width: 800px) {
    #contenedorLibroCss p {
        font-size: 12px;
    }
}
